/* CSS de index.html */

body {
	font-family: "Outfit", sans-serif;
	background-color: #f8f9fa;
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	color: white;
	filter: drop-shadow(5px 5px 10px rgba(10, 17, 218, 0.2));
}

.navbar {
	background: linear-gradient(90deg, #343a40, #495057);
	
}

.navbar-brand,
.nav-link {
	color: #fff !important;
}

header {
	background: url("../Img/DSC09727.JPG")
		center/cover no-repeat;
	color: white;
	padding: 6rem 2rem;
	text-align: center;
	height: 600px;
}

header h1 {
	font-size: 3rem;
	font-weight: 700;
}

.section-title {
	font-weight: 600;
	margin-top: 2rem;
}

.btn-custom {
	background: linear-gradient(to right, #0066ff, #3399ff);
	color: #fff;
	border: none;
	
}

footer {
	color: #ffffff;
	text-align: center;
	padding: 1rem;
	background: linear-gradient(90deg, #343a40, #495057);
}

.social-icons a {
	margin: 0 0.5rem;
	color: white;
}

